.productive {
    padding-top: calc(var(--base-padding) * 2);
    padding-bottom: calc(var(--base-padding) * 2);
    & .productive_image {
        img {
            width: 100%;
        }
    }
    & .productive_content {
        text-align: left;
        & .productive_heading {
            padding-top: calc(var(--base-padding));
            padding-bottom: 15px;
        }
        & p:nth-child(3) {
            padding-top: calc(var(--base-padding) / 2);
            padding-bottom: calc(var(--base-padding) / 2);
        }
        & .productive_link a {
            color: var(--call-action1);
        }
    }
}

@media (min-width: 1000px) {
    .productive {
        & .productive_container {
            @include flex-row;
        }
        & .productive_content {
            margin-left: calc(var(--base-margin) * 4);
        }
    }
}