.security {
    padding-top: calc(var(--base-padding) * 2);
    padding-bottom: calc(var(--base-padding) * 2);  
    & .security_list .security_list__item + .security_list__item {
        padding-top: calc(var(--base-padding) * 2);
    }
    & .security_list {
        & .security_list__item {
            & .secutity_list__heading {
                padding-top: calc(var(--base-padding) / 2);
                padding-bottom: 10px;
            }
        }
    }
}

@media (min-width: 1000px) {
    .security {
        & .security_list .security_list__item + .security_list__item {
            padding-top: unset;
        }
        & .security_list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 40px;
            row-gap: 40px;
        }
    }
}