@mixin flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin text_ident {
    display: block;
    text-indent: -9999px;
}

@mixin bg_heading {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 2));
    line-height: calc((var(--base-line-height) * 2));
}

@mixin bg_heading_desk {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 2.5));
    line-height: calc((var(--base-line-height) * 2.5));
}

@mixin menu_link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--base-font-size) + 2px);
    line-height: (var(--base-line-height));
    color: var(--font-color);
    text-decoration: none;
}

@mixin article_heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) * 1.5));
    line-height: calc((var(--base-line-height) * 2));
}

@mixin article_paragraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--base-font-size) + 2px);
    line-height: var(--base-line-height);
    opacity: 0.8;
}

@mixin article_paragraph_desk {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--base-font-size) + 4px);
    line-height: calc(var(--base-line-height));
    opacity: 0.8;
}

@mixin testimonial_name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: calc((var(--base-font-size) + 4px));
    line-height: calc((var(--base-line-height) + 4px));
    opacity: 0.9;
}

@mixin testimonial_paragraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    opacity: 0.8;
}

@mixin testimonial_job {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: var(--base-font-size);
    line-height: calc(var(--base-line-height) - 6px);
    opacity: 0.6;
}

@mixin btn_font {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}